# ------------------------------------------------------------------------------
# Node / React (client)
# ------------------------------------------------------------------------------
node_modules/
dist/
build/
*.log
*.cache
*.temp
.vite
*.tsbuildinfo
client/.env

# ------------------------------------------------------------------------------
# Go (server)
# ------------------------------------------------------------------------------
*.exe
*.out
*.test
bin/
coverage/
tmp/
main

# ------------------------------------------------------------------------------
# OS / Editor / IDE
# ------------------------------------------------------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
server/.env

